body{
	font-family: 'Roboto Condensed', serif;


}
#title{
	text-align: center;
	font-size: 300%;
}

#instructions{
	
	width: 50%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 30px;
	border: 2px solid;
}
#agree{
	margin:5px;
	border: 2px solid;
	
}

.dog{
	border: 2px solid;
	display: inline-block;
	height: 150px;
	width:150px;
	margin: 10px;
	-webkit-transition: width 3s, height 3s; /* For Safari 3.1 to 6.0 */
	transition: width 3s, height 3s;
}

.results{
	display: none;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	text-align: center;
}
.dog:hover{
	width:300px;
	height:300px;
}
#dogTemplate{
	display: none;
}

