body{
	font-family: 'Roboto Condensed', serif;


}
#title{
	text-align: center;
	font-size: 300%;
}

#instructions{
	display: none;
	width: 50%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 30px;
	border: 2px solid;
}
#agree{
	margin:5px;
	border: 2px solid;
	display: none;
}

.dog{
	border: 2px solid;
	display: inline-block;
	height: 150px;
	width:150px;
	margin: 10px;
}
.results{
	margin: 100px;
}
#dogTemplate{
	display:none;
}
img{
	display: inline;
}

